@import "../../../styles/vars.scss";

.select {
    outline: none;
    appearance: none;
    cursor: pointer;
    width: 25%;
    height: 50%;
    text-align: center;
    color: $yellow-color;
    border-radius: 0.6vw;
    border: none;
    background-color: #ffffff2d;
    &:focus,
    &:hover {
      border: 0.2vw solid black;
      background-color: rgba(10, 10, 10, 0.393);
    }
  }