@import "../../styles/vars.scss";

.header {
  @include wrapper($background-header, $shadow-header);
}

.wrapper {
  @include wrapper-content;
}

.logo {
  @include logo;
}

.nav {
  width: 36%;
  display: flex;
  gap: 5vw;
  color: #fff;

  :hover {
    transform: scale(1.02);
  }

  :active {
    transform: scale(1);
  }

  &-link {
    width: fit-content;
    height: fit-content;
    display: flex;
  }
}

.link {
  color: #fff;
  font-size: 1.7vw;

  &.active {
    color: $yellow-color;
  }
}

.button {
  margin-right: 7vw;
  height: 100%;
  display: flex;
  align-items: center;

  button {
    margin: 0;
  }
}