.options {
  margin: 1vw auto 0;
  width: 80%;
  height: 7vw;
  display: flex;
  justify-content: space-between;
}

.baseCurrency {
  width: 25vw;
  font-size: 1.7vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.input {
  width: 25vw;
  height: 50%;
}