@keyframes arrow {
  0% {
    transform: rotate(0) scale(1.5);
  }
  25% {
    transform: rotate(65deg) scale(1.5);
  }
  50% {
    transform: rotate(0) scale(1.5);
  }
  75% {
    transform: rotate(-65deg) scale(1.5);
  }
  100% {
    transform: rotate(0) scale(1.5);
  }
}

.button {
  button {
    cursor: pointer;
    margin-top: 2vw;
    padding: 0;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 0.1vw solid rgba(0, 0, 0, 0.224);
    background-color: #ffffff2d;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(10, 10, 10, 0.393);
      border-color: black;

      img {
        animation: 4s arrow infinite linear;
      }
    }

    &:active {
      transform: scale(0.8);
    }
  }

  img {
    width: 1.3vw;
  }
}