@import "../../styles/vars.scss";

.section {
  @include section;
}

.converter {
  margin: 3vw auto 0;
  padding: 2.9vw 0;
  width: 90%;
  height: 110%;
  background-color: #ffffff0c;
  border-radius: 0.8vw;

  &-header {
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    gap: 5vw;

    h3 {
      margin: 0;
    }
  }
}